.images {
    width: 100%;
    height: 200px;
  }
  
  .content-center {
      min-height: 500px;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0;
  }
  
  .social-media:hover a {
    color: red;
    transition: 0.5s all;
  }
  
  footer {
    width: 100%;
    background-color: #555;
    box-sizing: border-box;
  }
  
  .section-footer a,
  .section-footer p {
    text-decoration: none;
    color: white;
  }
  
  .section-footer a:hover {
    color: green;
  }
  